div {
  width: 300px;
  border: 10px solid red;
  padding: 5px;
  height: 500px;
  overflow-wrap: break-word;
}
img {
   width: 250px;
  height: 150px;
  position: static;
  top: 30px;
  left: 50px;
  bottom: 50px;
}
container {
  width: 300px;
  height: 500px;
  border: 10px solid red;
  float: left;
}
  
  
