div {
  width: 300px;
  border: 10px solid red;
  padding: 5px;
  height: 500px;
  overflow-wrap: break-word;
}
img {
   width: 150px;
  height: 150px;
  position: absolute;
  top: 50px;
  left: 50px;
}
  
