.container {
     width: 1000px; 
     height: 500px; 
     margin: 0px auto;
}
.col {
     width: 148px; 
     height: 300px; 
     float: left;
     border: 1px solid red;
     padding: 40px;
     margin: 10px;

}
img {
   width: 250px;
  height: 150px;
  position: static;
  top: 30px;
  left: 50px;
  overflow: hidden;
}

  
  
