div {
  width: 300px;
  border: 10px solid red;
  padding: 5px;
  height: 500px;
  overflow-wrap: break-word;
}
img {
   width: 250px;
  height: 150px;
  position: static;
  top: 30px;
  left: 50px;
  bottom: 50px;
}
container {
  width: 90%;
  overflow: hidden;
  background: skyblue;
  margin: 20px auto;
  padding: 20px;
  float: left;
}
.container ul {
  padding: 0px;
  margin: 0px;
}

  
  
