div {
  width: 300px;
  border: 10px solid red;
  padding: 5px;
  height: 500px;
  overflow-wrap: break-word;
}
img {
   width: 250px;
  height: 150px;
  position: static;
  top: 30px;
  left: 50px;
  bottom: 50px;
}
container {
  width: 300px;
  height: 500px;
  border: 10px solid red;
}
container .box {
  position: relative;
  width: calc (400px - 30px);
  height: calc(300px - 30px);
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}
  
  
