
body {
  background-image: url('bg.jpg');
}
.container {
     width: 1500px; 
     height: 500px; 
     margin: 0px auto;
}
.col {
     width: 148px; 
     height: 400px; 
     float: left;
     border: 1px solid red;
     padding: 50px;
     margin: 10px;
     overflow: hidden;

}
img {
   width: 220px;
  height: 100px;
  position: static;
  top: 30px;
  left: 50px;
}

  
  
