.navbar{
  height:12px;
  display:flex;
  align-text:center;
}
.logo{
  width:50px;
  cursor:pointer;
}
.menu-icon{
  width:30px;
  cursor:pointer;
  margin-left:40px;
}
nav{
  flex:1;
  text-align:right;
}
nav ul li{
  list-style:none;
  display:inline-block;
  margin-left:60px;
}
nav ul li a{
  text-decoration:none;
  font-size:13px; 
}
