
.container{
  position: relative;
    background-position: center, center;
    background-image: url("Header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
}
}
.navbar{
  height:12%;
  display:flex;
  align-items:center;
}
nav{
  flex:1;
  text-align:right;
}
nav ul li{
  list-style:none;
  display:inline-block;
  margin-left:60px; 
}
nav ul li a{
  text-decoration:none;
  color:#fff;
  font-size:13px;
}
