.container{
  width:100%;
  height:100vh;
  background-image:url('bg1.jpg');
  background-position:center;
  background-size:cover;
  padding-left:8%;
  padding-right:8%;
  box-sizing:border-box;
}
.navbar{
  height:12px;
  display:flex;
  align-text:center;
}
.logo{
  width:50px;
  cursor:pointer;
}
.menu-icon{
  width:30px;
  cursor:pointer;
  margin-left:40px;
}
nav{
  flex:1;
  text-align:right;
}
nav ul li{
  list-style:none;
  display:inline-block;
  margin-left:60px;
}
nav ul li a{
  text-decoration:none;
  font-size:13px; 
}
.row{
  display:flex;
  height:88%;
  align-items:center;
}
.col{
  flex-basis:50%;
}
h1{
  font-size:100px;
}
p{
  font-size:11px;
  lineheight:15px;
}
