
*{
  margin:0;
  padding:0;
  font-family:'Roboto', sans-serif;
}

}
.navbar{
  height:12%;
  display:flex;
  align-items:center;
}

.poverty{
  width:20%;
}

.logo{
 width:50px;
 cursor:pointer;
}

.menu-icon{
 width:30px;
 cursor:pointer;
}

 nav{
  flex:1;
  text-align:right;
}

nav ul li{
  list-style:none;
  display:inline-block;
  margin-left:60px; 
}

nav ul li a{
  text-decoration:none;
  color:black;
  font-size:20px;
}
p{
  font-size:30px;
}
ul{
  font-size:30px;
}
b{
font-size:50px;
}
