
.card{
  width:200px;
  height:230px;
  display:inline-block;
  border-radius:10px;
  padding:15px 25px;
  box-sizing:border-box;
  cursor:pointer;
  margin:10px 15px;
  background-position:center;
  background-size:cover;
}
.card1{
  background-image:url(pic1.jpg);
}
.card2{
  background-image:url(pic2.jpg);
}
.card3{
  background-image:url(pic3.jpg);
}
.card4{
  background-image:url(pic4.jpg);
}
body {
  background-image: url('bg1.jpg');
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.navbar{
  height:12%;
  display:flex;
  align-items:center;
}
.menu-icon{
 width:30px;
 cursor:pointer;
}

 nav{
  flex:1;
  text-align:right;
}

nav ul li{
  list-style:none;
  display:inline-block;
  margin-left:60px; 
}
nav ul li a{
  text-decoration:none;
  color:#808080;
  font-size:20px;
}

