

}
.navbar{
  height:12%;
  display:flex;
  align-items:center;
}

.poverty{
  width:100%;
}

.logo{
 width:50px;
 cursor:pointer;
}

.menu-icon{
 width:30px;
 cursor:pointer;
}

 nav{
  flex:1;
  text-align:right;
}

nav ul li{
  list-style:none;
  display:inline-block;
  margin-left:60px; 
}

nav ul li a{
  text-decoration:none;
  color:#808080;
  font-size:20px;
}
