.card{
  width:200px;
  height:230px;
  display:inline-block;
  border-radius:10px;
  padding:15px;
  box-sizing:border-box;
  cursor:pointer;
  margin: 10px 15px;
  background-image: url('pic1.jpg');
  background-position:center;
  background-size:cover;
}
*{
  margin:0;
  padding:0;
  font-family:'Roboto', sans-serif;
}

}
.navbar{
  height:12%;
  display:flex;
  align-items:center;
}
.logo{
 width:50px;
 cursor:pointer;
}

.menu-icon{
 width:30px;
 cursor:pointer;
}

 nav{
  flex:1;
  text-align:right;
}

nav ul li{
  list-style:none;
  display:inline-block;
  margin-left:60px; 
}

nav ul li a{
  text-decoration:none;
  color:black;
  font-size:20px;
}
.row{
  display:flex;
  height:88%;
  align-items:center;
}
.col{
  flex-basis:50%;
}
h1{
  font-size:100px;
}
p{ 
  font-size:11px;
  line-height:15px;
}
 
