.verdana{
  font-family:verdana;
  font-size:22px;
  font-weight:100px;
  text-align:center;
}
.new{
  font-family:Courier New;
  font-size:22px;
  font-weight:100px;
  text-align:center
}
body{
  margin-top: 150px;
}
