body{
  margin-top: 200px;
}
.verdana{
  font-family:serif, "Garamond";
  font-size:22px;
  font-weight:100px;
  text-align:center;
  color:yellow;
}
.new{
  font-family:Courier New;
  font-size:22px;
  font-weight:100px;
  text-align:center;
  color:yellow;
}
.helv{
  font-family:cursive, "Brush Script MT";
  font-size:18px;
  text-align:center;
  margin-right:50px;
  color:yellow;
